
    #user_name {
        width:60px;
    }

    #money_type{
        width:60px;
    }

    #amount {
        width:60px;
    }

    #category {
        width:60px;
    }

    #stat_type {
        width:60px;
    }

    #remark {
        width:120px;
    }

    .btn_add, .btn_return {
        width:80px;
        height:25px;
    }

