
#iDiv_overlook_c { padding:60px 20px 30px 20px; }
#iA_hint, #iDiv_menuBar_c, #iDiv_overlook_c, #iDiv_userOperatePanel_c, #iDiv_popup, #iA_uploadAchievement { display:none; }
#iDiv_operateMenus_c { margin-top:30px; }
#iDiv_userOperatePanel_c { text-align: center; padding-top:20px; }
#iDiv_userOperatePanel_c table { display:inline-block; }
#iDiv_userOperatePanel_c table tr td { width:80px; height:80px; text-align: center; }
#iSpan_moveStepNum { font-size:14px; color:green; font-weight: bold; }
#iSpan_goldUnitTotalNum, #iSpan_getGoldUnitNum { font-size: 14px; color:#ee9b15; font-weight: bold;}
#iSpan_glanceTime { font-size:14px; color:#ff9999; font-weight:bold; }
#iIpt_nikeName {
    width:150px;
    height:32px;
    font-size:14px;
    padding-left:30px;
}
#iP_uploadAchievement_c， #iP_uploadResult_c { padding-top:20px; }
#iTbl_top10Records {
    background-color: #f4f4f4;
    display:inline-block;
    font-size: 12px;
}
#iTbl_top10Records tr:first-child td:nth-child(1) { width: 40px; }
#iTbl_top10Records tr:first-child td:nth-child(2) { width:150px; }
#iTbl_top10Records tr:first-child td:nth-child(3) { width:80px; }
#iTbl_top10Records tr:first-child td:nth-child(4) { width: 80px; }
#iTbl_top10Records tr:first-child td:nth-child(5) { width: 80px; }
#iTbl_top10Records tr td, #iSpan_difficulty, .remodal h1, .remodal p * { font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti !important; }
#iSpan_difficulty { font-size:18px; color:darkred; font-weight:bold; }
#iDiv_honeycombView { padding:10px;}
#iSel_difficultySelect { width:60px; height:30px; }


.cSpan_numberUnit {
    display: inline-block;
    width:20px;
    height:20px;
    text-align: center;
}
.cSpan_imgUnit {
    display: inline-block;
    text-align: center;
    margin-top: -5px;
    width:33px;
}
.cImg_unit { width:30px; height:33px; }
.cImg_door { width:60px; height:90px; }
.cImg_door:hover { cursor: pointer; }
.cTd_user { height:45px; padding:5px 10px 5px 10px; }
.cTd_userMoveInfo {
    padding:30px 10px 10px 90px;
    color:#95A5A6;
    font-size: 12px;
    text-align: left !important;
}

.center-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}
.center-container:after,
.center-block {
    display: inline-block;
    vertical-align: middle;
}
.center-container:after {
    content: '';
    height: 100%;
    margin-left: -0.25em; /* To offset spacing. May vary by font */
}

.center-block {
    display: inline-block;
    vertical-align: middle;
    margin-top:-120px;
}
.center-block {
    max-width: 650px; /* Prevents issues with long content causes the content block to be pushed to the top */
    /* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}

.cA_startGame_b {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 142px;
    color: #ecf0f1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #c0392b;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}
.cA_startGame_b:hover, .cA_startGame_b:active { background: #e74c3c; }

.cA_position_b {
    font-size: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 42px;
    color: #ecf0f1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #95A5A6;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}
.cA_position_b:hover, .cA_position_b:active { background: #ee9b15; }

.cA_remarkText, .cP_remarkText { color:#95A5A6; font-size: 12px; }
.cImg_beeLogo { height:35px; width: 43px; }
.cSpan_titleText { color:#95A5A6; font-size: 16px; }
.cDiv_rememberTimer { width:150px; height:80px; margin: 0 auto; padding-bottom: 10px; }
.cA_gameRuleLink, .cA_top10RecordsLink { color:#95A5A6; font-size: 12px; text-decoration: underline !important; }
.cP_left { text-align: left !important; }
.cTr_playerRow td { height:45px !important; }
.cSpan_successTitle { color:darkred; }
.cSpan_successInfo { font-weight:bold; color:green; }
.cSpan_failTitle { color:gray; }
.cSpan_uploadSuccess { color:green; font-weight:bold; }
.cSpan_uploadFail { color:darkred; font-weight:bold; }
tr.cTr_title td {
    height:25px;
    color:green;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
}
tr.cTr_content td { text-align: center; padding:6px 10px;}
.cTd_noRecords { padding:12px 10px; color:gray; text-align: center; }
.cImg_small { width:17px; height:20px; }
.remodal p { font-size:12px; line-height: 20px; }
.cTd_orangeText { color: orange; font-weight: bold;}
.cSpan_difficultyText { color:#95A5A6; font-size: 12px; font-weight:bold; }


