
.div_container {
    text-align: center;
}

.table_menu {
    display:inline-block;
}

.table_menu tr td {
    height: 50px;
    text-align: center;
}

.table_menu input[type="button"] {
    width:80px;
    height:30px;
}

.table_wallet {
    display: inline-block;
}

.td_money_logo {
    text-align: right;
    width:150px;
}

.td_split {
    height:5px;
}

.td_money_amount {
    text-align: left;
    padding-left:5px;
    width:110px;
}

#img_income_button, #img_cost_button {
    cursor:pointer;
}

.div_button_unselected {
    -moz-opacity:0.3;-khtml-opacity:0.3;opacity: 0.3;
}

.td_first {
    width:130px;
}

.div_income_button_container {
    margin-left:20px;
    display: inline;
    width:40px;
    height:50px;
}

.div_cost_button_container {
    display: inline;
    width:40px;
    height:40px;
}

#btn_cost, #btn_income {
    width:60px;
    height:30px;
}

.btn_show {
    display:"";
}

.btn_hidden {
    display:none;
}

#txt_amount {
    width:90px;
    height:30px;
    padding-left: 20px;
    padding-right: 20px;
}
