
.div_container {
    text-align: center;
}

.table_menu {
    display:inline-block;
}

.table_menu tr td {
    height: 50px;
    text-align: center;
}

.table_menu input[type="button"] {
    width:80px;
    height:30px;
}

.table_wallet {
    display: inline-block;
}

.table_wallet tr {
    text-align: right;
}

#txt_amount {
    width:100px;
    height:30px;
}