
/* element */
body {
    background: url(/img/background.png) repeat!important;
}

/* class */
.div_container {
    text-align: center;
}

.table_menu {
    display:inline-block;
    text-align: center;
}

.table_menu tr td {
    height: 30px;
}